@model IEnumerable<travelingExperience.Entity.Travel>

@{
    ViewData["Title"] = "Списък с Пътувания";
}

<h1>Данни за всички пътуванията</h1>


<a class="btn btn-primary btn-sm" style="margin-bottom: 15px;" href="/Travel/Create">Ново Пътуване</a>


<table class="table" style="border-collapse: collapse; width: 100%;">
    <thead>
        <tr style="background-color: #f2f2f2;">
            <th style="border: 1px solid #ddd; padding: 8px;">@Html.DisplayNameFor(model => model.Id)</th>
            <th style="border: 1px solid #ddd; padding: 8px;">@Html.DisplayNameFor(model => model.StartDate)</th>
            <th style="border: 1px solid #ddd; padding: 8px;">@Html.DisplayNameFor(model => model.EndDate)</th>
            <th style="border: 1px solid #ddd; padding: 8px;">@Html.DisplayNameFor(model => model.StartDestination)</th>
            <th style="border: 1px solid #ddd; padding: 8px;">@Html.DisplayNameFor(model => model.EndDestination)</th>
            <th style="border: 1px solid #ddd; padding: 8px;">@Html.DisplayNameFor(model => model.Price)</th>
            <th style="border: 1px solid #ddd; padding: 8px;">@Html.DisplayNameFor(model => model.Seats)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="border: 1px solid #ddd;">
                <td style="border: 1px solid #ddd; padding: 8px;"> @Html.DisplayFor(modelItem => item.Id)</td>
                <td style="border: 1px solid #ddd; padding: 8px;">@item.StartDate</td>
                <td style="border: 1px solid #ddd; padding: 8px;">@item.EndDate</td>
                <td style="border: 1px solid #ddd; padding: 8px;"> @Html.DisplayFor(modelItem => item.StartDestination)</td>
                <td style="border: 1px solid #ddd; padding: 8px;"> @Html.DisplayFor(modelItem => item.EndDestination)</td>
                <td style="border: 1px solid #ddd; padding: 8px;">@item.Price</td>
                <td style="border: 1px solid #ddd; padding: 8px;">@item.Seats</td>
                <td style="border: 1px solid #ddd; padding: 8px;">
                    <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id">Редакция</a>
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Детайли</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirmDelete();">Изтриване</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    function confirmDelete() {
        var confirmation = confirm("Сигурни ли сте, че искате да изтриете?");

        if (confirmation) {
            // Ако потвърдите, продължете с операцията за изтриване, като пренасочвате към действието за изтриване или обработвате процеса на изтриване
            return true;
        } else {
            // Ако отхвърлите, предотвратете стандартното действие (изтриване)
            return false;
        }
    }
</script>
